<a href="https://colab.research.google.com/github/efka87/learning-python/blob/main/w4_conditional_execution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# compare two numbers

num1 = int(input('Write number 1:'))
num2 = int(input('Write number 2:'))

if num1 >= num2:
  if num1 == num2:
    print(f'{num1} is equal to {num2}')
  else:
    print(f'{num1} is greater than {num2}')
else:
  print(f'{num1} is smaller than {num2}')

Write number 1:200
Write number 2:100
200 is greater than 100

In [ ]:
# try, exce0t and alse

stock = input('Input stock: ')

try:
    product_stock = int(stock)
except:
    print('Wrong input!')
else:
  if product_stock > 10:
    print('Stock level is sufficient!')
  else:
    print('Low stock!')

Input stock: öö
Wrong input!

In [ ]:
repeat = True

while repeat:
    stock = input('Input stock: ')

    try:
        product_stock = int(stock)
    except:
        print('Wrong input!')
    else:
        if product_stock > 10:
            print('Stock level is sufficient!')
        else:
            print('Low stock!')
        repeat = False

Input stock: ff
Wrong input!
Input stock: 45
Stock level is sufficient!

Prompt the user to enter their name, the speed limit (in km/h), and their actual speed (in km/h).
Calculate the difference between the actual speed and the speed limit, and then calculate the fine based on the difference (3 euros per km/h over the limit).
Handle potential non-integer inputs for speed limit and actual speed using a try block.
If non-integer inputs are detected, set the speed limit to -1 to indicate wrong speed values.
If the speed limit is -1, print "Wrong speed values entered. Please enter km/h."
If the actual speed does not exceed the speed limit, print "Speed limit is not exceeded. No fine applied."
If the actual speed exceeds the speed limit, check if the fine is less than or equal to 190 euros. If so, print "{name}, your fine for speeding is {fine} euros." - Otherwise, print "{name}, your fine for speeding is 190 euros."

In [ ]:
name = input('Please write your name: ')
speed_limit = input('Please input the speed limit: ')
actual_speed = input('Please input your actual speed: ')

try:
  speed_limit = int(speed_limit)
  actual_speed = int(actual_speed)
except:
  print("Wrong speed values entered. Please enter km/h.")
else:
  difference = actual_speed - speed_limit
  fine = difference * 3
  if speed_limit < 0 or actual_speed < 0:
    print('Speed limit MUST be positive')
  elif speed_limit >= actual_speed: #difference < 0
    print("Speed limit is not exceeded. No fine applied.")
  else:
    fine = min(190, difference * 3)
    print(f'{name}, your fine for speeding is {fine} euros.')
    if fine > 190:
      print(f"{name}, your fine for speeding is 190 euros.")
    else:
      print(f"{name}, your fine for speeding is {fine} euros.")

Please write your name: eve
Please input the speed limit: 50
Please input your actual speed:
Wrong speed values entered. Please enter km/h.

LISTS

In [ ]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"
print(type(flowers))

<class 'str'>

In [ ]:
flowers = ["pink primrose","hard-leaved pocket orchid","canterbury bells","sweet pea","english marigold","tiger lily","moon orchid","bird of paradise","monkshood","globe thistle"]
print(type(flowers))
print(len(flowers))

<class 'list'>
10

In [ ]:
print('First entry: ', flowers[0])
print(flowers[1])

print("Last entry is: ", flowers[9])

First entry:  pink primrose
hard-leaved pocket orchid
Last entry is:  globe thistle

In [ ]:
print(flowers[1:5])

print(flowers[:5])

['hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold']
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold']

In [ ]:
print('Every other item:', flowers[::2])

Every other item: ['pink primrose', 'canterbury bells', 'english marigold', 'moon orchid', 'monkshood']

In [ ]:
for item in flowers[::2]:
  print(item)

pink primrose
canterbury bells
english marigold
moon orchid
monkshood

In [ ]:
my_list = ['one', 'two', 'three', 4,5]
print(my_list[-2])

4

In [ ]:
my_list = my_list + ['new item'] # adding new item

In [ ]:
my_list

['one', 'two', 'three', 4, 5, 'new item']

In [ ]:
my_list[1] = 2
my_list

['one', 2, 'three', 4, 5, 'new item']

In [ ]:
my_list.append('append me')
my_list

['one', 2, 'three', 'append me', 'append me', 'append me', 'append me']

In [ ]:
my_list.pop(3)
my_list

['one', 2, 'three', 'append me', 'append me', 'append me']

TEAMWORK LISTS

In [ ]:
numbers = [10, 20, 30, 40, 50]
print(f'list is: {numbers}')

print(f'Length is: {len(numbers)}')  # Length of the list

print(f'first element: {numbers[0]}') # prints the first of the list

print(f'last element: {numbers[-1]}') # prints the last of the list

numbers.append(60) # adds 60 to the list
print(f'last element: {numbers}')

numbers.pop(1) # removes the second
print(f'removed second element and list now: {numbers}')

specific_number = 30 # checks if a specific number is in the list
if specific_number in numbers:
  print(f'specific number {specific_number} is in list')
else:
  print(f'specific number {specific_number} is not in the list')

list is: [10, 20, 30, 40, 50]
Length is: 5
first element: 10
last element: 50
last element: [10, 20, 30, 40, 50, 60]
removed second element and list now: [10, 30, 40, 50, 60]
specific number 30 is in list