<a href="https://colab.research.google.com/github/efka87/learning-python/blob/main/w5_loops_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 185.5
type(age)

float

In [ ]:
fruits = ['apple', 'orange', 'banana', 'grape', 'kiwi']
print(fruits)
user_input = input("Enter a fruit:")

if user_input in fruits:
  print(f'yes, {user_input} is in the list')
else:
  print(f'no, {user_input} is not in the list')

['apple', 'orange', 'banana', 'grape', 'kiwi']
Enter a fruit:kiivi
no, kiivi is not in the list

In [ ]:
numbers = [1,20,35,400,5]

user_input = int(input("Enter a number:"))

if user_input in numbers:
  if (user_input % 2 == 0):
    print(f'the number {user_input} is even')
  else:
    print(f'the number {user_input} is odd')
else:
  print(f'the number {user_input} is not in the list')

Enter a number:400
the number 400 is even

List methods

In [ ]:
# APPEND

items = ['apple', 'kiwi', 'orange']
print(f'items from first list are {items}')

my_value = 'banana'
items.append(my_value)
print(f'changed items {items}')

items from first list are ['apple', 'kiwi', 'orange']
changed items ['apple', 'kiwi', 'orange', 'banana']

In [ ]:
# COPY

original_list = [1,2,3,4,5]
copied_list = original_list.copy()

original_list.append(6)

print(original_list)
print(copied_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [ ]:
# COUNT - counts how many times a number appears in a list

numbers = [1,2,5,7,3,66,5]

target_number = 5
count = numbers.count(target_number)
print(f'The number {target_number} appears {count} times in the list')

The number 5 appears 2 times in the list

In [ ]:
# INDEX shows the strings index in the list

fruits = ['apple', 'banana', 'orange', 'apple']

fruits_index = fruits.index('apple')
print(f'index of "apple" is: {fruits_index}')

index of "apple" is: 0

In [ ]:
# INSERT - inserts some number to a specific place

numbers = [1,5,2,8,7,77]

numbers.insert(2, 10)

print(f' list after modifying: {numbers} ')

 list after modifying: [1, 5, 10, 2, 8, 7, 77]

In [ ]:
# POP - removes some number

numbers = [1,4,7,9,33,2]

numbers.pop(0)
print(f'modified {numbers}')

modified [4, 7, 9, 33, 2]

In [ ]:
# SORT
numbers = [3, 1, 2]
numbers.sort()
print(numbers)

[1, 2, 3]

In [ ]:
# REVERSE
numbers = [3, 1, 2, 7, 4, 10, 2]
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[1, 2, 2, 3, 4, 7, 10]
[10, 7, 4, 3, 2, 2, 1]

In [ ]:
# create a list of 5 number elements

numbers = [1,4,7,3,9]
print(numbers)

# calculate maximum value of numbers

max_value = max(numbers)
print(max_value)

#calculate min value

min_value = min(numbers)
print(min_value)

#calculate average value

average_value = sum(numbers) / len(numbers)
print(average_value)


# check if the ave is higher than 3
if average_value > 3:
    print("The average  is higher than 3.")
else:
  print("The average is lower than 3.")


#sort the numbers

numbers.sort()
print(numbers)

#remove first number

numbers.pop(0)
print(numbers)

#add name

my_name = 'Evelin'
numbers.append(my_name)

#calculate at what index is your name
index = numbers.index('Evelin')
print(f'Your name is index {index}')

[1, 4, 7, 3, 9]
9
1
4.8
The average  is higher than 3.
[1, 3, 4, 7, 9]
[3, 4, 7, 9]
Your name is index 4

RANGE

In [ ]:
list(range(10, 100, 10)).  #the last element is not included

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
numbers_with_range = range(1, 7)

for i in numbers_with_range:
  print(i)

1
2
3
4
5
6

In [ ]:
numbers_with_range = range(1, 7) #iterable object [1,2,3,4,5,6]

for number in numbers_with_range:
  number = number * 2
  print(number)

2
4
6
8
10
12

In [ ]:
fam = ['Anna', 'Peter', 'Erika', 'Roberta']
for fam in fam:
  print(f'Hey hey {fam}')

Hey hey Anna
Hey hey Peter
Hey hey Erika
Hey hey Roberta

Team work: Analyzing Numbers - Iterate through a list of 10 random numbers and determine whether each number is higher or lower than 5.
Hints:
Use a for loop to iterate through the list of numbers.
Use if, elif, and else statements to check each number against 5.

Example Output:
3 is lower than 5
8 is higher than 5
1 is lower than 5
6 is higher than 5 .......

In [ ]:
# teamwork

numbers = [1,5,9,44,10,5,7,11,12,90]
print(numbers)

for number in numbers:
  if number > 5:
    print(f'{number} number is higher than 5')
  elif(number < 5):
    print(f'{number} is smaller than 5')
  else:
    print(f'{number} is equal to 5')

[1, 5, 9, 44, 10, 5, 7, 11, 12, 90]
1 is smaller than 5
5 is equal to 5
9 number is higher than 5
44 number is higher than 5
10 number is higher than 5
5 is equal to 5
7 number is higher than 5
11 number is higher than 5
12 number is higher than 5
90 number is higher than 5