<a href="https://colab.research.google.com/github/efka87/learning-python/blob/main/w6_for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for letter in "I love python":
  print(letter, end = ' ')

I   l o v e   p y t h o n

In [ ]:
cities_i_have_been_to = ['Tallinn', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspilis']
year_i_visited = [2020, 2024, 2020, 2021, 2024, 2022]
len(year_i_visited) == 6
for city in cities_i_have_been_to:
  print(f'I have been to {city}')

I have been to Tallinn
I have been to Riga
I have been to Tartu
I have been to Aluksne
I have been to Viru
I have been to Ventspilis

In [ ]:
cities_i_have_been_to = ['Tallinn', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspilis']
counter = 0
previous_city = None

for city in cities_i_have_been_to:
  counter = counter + 1
  if previous_city == None:
    print(f'{counter}. I have been to {city}.')
  else:
    print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}')
  previous_city = city

1. I have been to Tallinn.
2. I have been to Riga. The previous city I visited was Tallinn
3. I have been to Tartu. The previous city I visited was Riga
4. I have been to Aluksne. The previous city I visited was Tartu
5. I have been to Viru. The previous city I visited was Aluksne
6. I have been to Ventspilis. The previous city I visited was Viru

In [ ]:
range(len(cities_i_have_been_to))
for i in range(len(cities_i_have_been_to)):
  print(cities_i_have_been_to [i])
  print(year_i_visited[i])
  print(f'This is the index {i}')

Tallinn
2020
This is the index 0
Riga
2024
This is the index 1
Tartu
2020
This is the index 2
Aluksne
2021
This is the index 3
Viru
2024
This is the index 4
Ventspilis
2022
This is the index 5

In [ ]:
range(len(cities_i_have_been_to))
for i in range(len(cities_i_have_been_to)):
  print(f'I have been to {cities_i_have_been_to[i]}. I visited that city in {year_i_visited[i]}')

I have been to Tallinn. I visited that city in 2020
I have been to Riga. I visited that city in 2024
I have been to Tartu. I visited that city in 2020
I have been to Aluksne. I visited that city in 2021
I have been to Viru. I visited that city in 2024
I have been to Ventspilis. I visited that city in 2022

Nested lists

In [ ]:
matrix_2d = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]

In [ ]:
for i in matrix_2d:
  print(i)
  for j in i:
    print(f'These are the elements of the sub-list {j} ')

[1, 2, 3]
These are the elements of the sub-list 1
These are the elements of the sub-list 2
These are the elements of the sub-list 3
[4, 5, 6]
These are the elements of the sub-list 4
These are the elements of the sub-list 5
These are the elements of the sub-list 6
[7, 8, 9]
These are the elements of the sub-list 7
These are the elements of the sub-list 8
These are the elements of the sub-list 9

GRADE MAPPING

In [ ]:
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']] # nested list

In [ ]:
grade_mapping[0] # [90, 'A']
grade_mapping[0][1] # 'A'
grade_mapping[3][1] # 'D'

'D'

In [ ]:
for threshold, letter_grade in grade_mapping:
  print(letter_grade)

A
B
C
D
F

In [ ]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]
student_scores = [85, 72,93, 60, 77]
rade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']]

for i in range(len(student_scores)):
  print(student_scores[i])
  print(student_names[i])
  score = student_scores[i]
  for number_grade, letter_grade in grade_mapping:
    if score >= number_grade:
      print(f'Hi, {student_names[i]}, your letter grade is {letter_grade}')
      break

85
Alice
Hi, Alice, your letter grade is B
72
Bob
Hi, Bob, your letter grade is C
93
Charlie
Hi, Charlie, your letter grade is A
60
David
Hi, David, your letter grade is D
77
Eva
Hi, Eva, your letter grade is C

In [ ]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]

for index, student in enumerate(student_names, start=1):
  print(f'Student {index}: {student} ')

Student 1: Alice
Student 2: Bob
Student 3: Charlie
Student 4: David
Student 5: Eva

In [ ]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]

#ENUMERATE
for index, student in enumerate(student_names):
  print(f'Student {index}: {student}')

#COUNTER
counter = 0 #INITIALIZE THE COUNTER
for student in student_names:
  print(f'Student {counter}: {student}')
  counter = counter + 1

#RANGE
for i in range(len(student_names)):
  print(f'Student {i}: {student_names[i]}')

Student 0: Alice
Student 1: Bob
Student 2: Charlie
Student 3: David
Student 4: Eva
Student 0: Alice
Student 1: Bob
Student 2: Charlie
Student 3: David
Student 4: Eva
Student 0: Alice
Student 1: Bob
Student 2: Charlie
Student 3: David
Student 4: Eva